<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @spending.amount %>
</p>

<p>
  <strong>Person:</strong>
  <%= @spending.person_id %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
