.col-md-4.col-md-offset-4
  = form_for(@person) do |f|
    - if @person.errors.any?
      #error_explanation
        %h2
          = pluralize(@person.errors.count, "error")
          prohibited this person from being saved:
        %ul
          - @person.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.text_field :name, class: "form-control input-lg", placeholder: "Person name" , :autofocus => true
    .field
      = f.hidden_field :event_id
    .form-group
      .row
        .col-md-6
          = f.submit "Add person", class: "btn btn-primary btn-lg btn-block"
        .col-md-6
          %a.btn.btn-default.btn-lg.btn-block{:href => event_path(@person.event), :role => "button"} Cancel