<%= form_for @event_access_form, url: event_event_accesses_path(@event) do |f| %>
  <% if @event_access_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_access_form.errors.count, "error") %> prohibited this event_access from being saved:</h2>

      <ul>
      <% @event_access_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :access_type %><br>
    <%= f.text_field :access_type %>
  </div>
  <div class="field">
    <%= f.label :user_email %><br>
    <%= f.text_field :user_email %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id, value: @event.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
