- model_class = Event
= render :partial => '/layouts/top_menu'
.container
  .row
    .col-lg-12
      %center= image_tag "event_list.png"
  %h1
    Welcome!
    %small Choose or create an event (for example mountain trip)
  .row
    .col-lg-12
      .bs-example
        .list-group
          - @events.each do |event|
            %a.list-group-item{:href => event_path(event)}
              %h4.list-group-item-heading= event.name.capitalize
              %p.list-group-item-text
                - event.people.each do |p|
                  = p.name
                  ,
                = "There are no people in this event" if event.people.count == 0
  = link_to t('.new', :default => t("helpers.links.new")), |
    new_event_path,                                        |
    :class => 'btn btn-primary btn-lg btn-block'           |