<style type="text/css">
body {
  background:url(<%= asset_path 'background2.jpg' %>)  center center;
}
</style>
<%- model_class = Event -%>
<%= render :partial => '/layouts/top_menu' %>
<div class="container">
<div class="page-header">
  <h1>Welcome!
  <small>Choose or create an event (for example mountain trip)</small>
  </h1>
</div>
  <div class="row">
            <div class="col-lg-12">
              <div class="bs-example">
                <div class="list-group">
                  <% @events.each do |event| %>
                    <a href="<%= event_path(event) %>" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= event.name.capitalize %></h4>
                      <p class="list-group-item-text">
                        <% event.people.each do |p| %>
                          <%= p.name %>,
                        <% end %>
                        <%= "There are no people in this event" if event.people.count == 0 %>
                      </p>
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_event_path,
              :class => 'btn btn-primary btn-lg btn-block' %>
</div>
