      <%= render :partial => '/layouts/top_menu' %>


      <div id="page-wrapper" class="main_view">
        <div class="row">
          <div class="col-lg-12">
            <center><%= image_tag "logo_dash.png" %></center>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h1 style="color:white">Overview <small><%= @event.name %></small></h1>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to OweZone.net!<br/>
              <strong>If you have any suggestions or questions, please mail to konrad@mediacode.eu</strong>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-group fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"><%= @event.people.count %></p>
                    <p class="announcement-text">People in Event</p>
                  </div>
                </div>
              </div>
<!--               <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Mentions
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-refresh fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"><%=@event.transactions.count %></p>
                    <p class="announcement-text">Transactions made</p>
                  </div>
                </div>
              </div>
              <!-- <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Tasks
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-money fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"><%= Spending.joins(:transaction).where("event_id = #{@event.id} AND amount > 0").sum("amount") %></p>
                    <p class="announcement-text">Total money spent</p>
                  </div>
                </div>
              </div>
              <!-- <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Orders
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a> -->
            </div>
          </div>
        </div><!-- /.row -->


        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Debts statistics</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter">
                    <tbody>

                      <% @event.people.each do |p| %>
                      <tr href="http://www.google.com">

                        <td>
                          <i class="fa fa-user"></i> <b><%= p.name %></b>
                          <a href="<%= person_path(p) %>" class="btn btn-primary btn-xs pull-right why_btn" role="button">Why?</a>
                        <% if p.balance < 0 %>
                          <span class="label label-danger pull-right" style="font-size: 15px">
                            owes <%= number_with_precision(-p.balance, precision: 2)     %>
                          </span>
                          <% elsif p.balance > 0 %>
                          <span class="label label-success pull-right" style="font-size: 15px">
                            +<%= number_with_precision(p.balance, precision: 2)     %>
                          </span>
                          <% else %>
                          <span class="label label-default pull-right" style="font-size: 15px">
                            <%= number_with_precision(p.balance, precision: 2)     %>
                          </span>
                        <% end %>

                        </td>

                        <td>
                          <% if p.spendings.count == 0 %>
                          <a data-confirm="Are you sure you want to delete this person?" data-method="delete" href="/people/<%=p.id%>" rel="nofollow" class="btn btn-danger btn-xs pull-right" role="button"><i class="fa fa-times"></i></a>
                          <% else %>
                          <button type="button" class="btn btn-default btn-xs pull-right takes_part" data-toggle="tooltip" data-placement="right" title="You can't remove a person that takes part in transaction."><i class="fa fa-times"></i></button>
                          <% end %>
                        </td>
                      </tr>
                      <% end %>
                      
                    </tbody>
                  </table>
                </div>
                <div class="text-right">
                  <a href="<%= new_event_person_path(@event) %>" class="btn btn-default btn-block <%= "no_people" if @event.people.count == 0  %>" role="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Start with adding some people to your event!">Add Person</a>
                </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Suggested Settlement</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter">
                    <tbody>

                      <% get_settlements.each do |s| %>
                      <tr href="http://www.google.com">
                        <td><b><%= "#{Person.find(s[:from_id]).name}" %></b>
                        gives <b><%= number_with_precision(s[:amount], precision: 2) %></b>
                        to <b><%= "#{Person.find(s[:to_id]).name}" %></b>
                        </td>
                      </tr>
                      <% end %>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


            
          </div>
          <div class="col-lg-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Recent Transactions</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter">
                    <tbody>

                      <% @event.transactions.each do |t| %>
                      <tr href="http://www.google.com">
                        <td><b><%= t.name %></b></td>
                        <td><%= t.created_at.to_s(:short) %></td>
                        <td><%= t.spendings.where('amount > 0').sum('amount') %> PLN</td>
                        <td>
                          <a href="<%= edit_details_transaction_path(t) %>" class="btn btn-primary btn-xs" role="button">Edit details</a>
                          <a data-confirm="Are you sure?" data-method="delete" href="/transactions/<%=t.id%>" rel="nofollow" class="btn btn-danger btn-xs" role="button"><i class="fa fa-times"></i></a>
                        </td>
                      </tr>
                      <% end %>
                      
                    </tbody>
                  </table>
                </div>
                <div class="text-right <%= "people_first" if @event.people.count == 0  %>" data-toggle="tooltip" data-placement="top" title="First add some people">
                  <a href="<%= new_event_transaction_path(@event) %>" class="btn btn-default btn-block <%= "disabled" if @event.people.count == 0  %>" role="button" >Add Transaction</a>
                </div>
              </div>
            </div>


          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send us a feedback</h4>
      </div>
      <div class="modal-body">
        loading ...
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


    <!-- JavaScript -->




<script type="text/javascript">
$(window).load(function(){
    
    $('.people_first').tooltip();
    $('.takes_part').tooltip();
    $('.no_people').popover('show');
   function jumpingPop() {
      $(".popover.top.in")
               .animate({"top":"-=20px"},900)
               .animate({"top":"+=20px"},900,jumpingPop)
   }

  jumpingPop();
});



</script>