<!--<%- model_class = Event -%>
<div class="page-header">dupa
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<% #raise Exception %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
-->
<style type="text/css">
body {
  background:url(<%= asset_path 'background2.jpg' %>)  center center;
}
</style>
<div id='wrapper'>

      <%= render :partial => '/layouts/top_menu' %>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Overview <small><%= @event.name %></small></h1>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to <b>OweZone.net</b>! Service is currently in <strong>EARLY BETA</strong> and can be vurnelabe, so please do not provide any confidential or important data.
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-group fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"><%= @event.people.count %></p>
                    <p class="announcement-text">People in Event</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      View Mentions
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-refresh fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"><%=@event.transactions.count %></p>
                    <p class="announcement-text">Transactions made</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Tasks
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-money fa-5x"></i>
                  </div>
                  <div class="col-xs-6 text-right">
                    <p class="announcement-heading"><%= Spending.joins(:transaction).where("event_id = #{@event.id} AND amount > 0").sum("amount") %></p>
                    <p class="announcement-text">Total money spent</p>
                  </div>
                </div>
              </div>
              <a href="#">
                <div class="panel-footer announcement-bottom">
                  <div class="row">
                    <div class="col-xs-6">
                      Complete Orders
                    </div>
                    <div class="col-xs-6 text-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div><!-- /.row -->


        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> User statuses</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <% @event.people.each do |p| %>
                  <a href="#" class="list-group-item">
                    <% if p.balance < 0 %>
                    <span class="label label-danger pull-right" style="font-size: 15px">
                      owes <%= number_with_precision(-p.balance, precision: 2)     %>
                    </span>
                    <% elsif p.balance > 0 %>
                    <span class="label label-success pull-right" style="font-size: 15px">
                      +<%= number_with_precision(p.balance, precision: 2)     %>
                    </span>
                    <% else %>
                    <span class="label label-default pull-right" style="font-size: 15px">
                      <%= number_with_precision(p.balance, precision: 2)     %>
                    </span>
                    <% end %>
                    <i class="fa fa-user"></i> <%= p.name %>
                  </a> 
                  <% end %>
                </div>
                <div class="text-right">
                  <a href="<%= new_event_person_path(@event) %>" class="btn btn-default btn-block" role="button">Add Person</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money"></i> Recent Transactions</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped tablesorter">
                    <thead>
                      <tr>
                        <th>Name <i class="fa fa-sort"></i></th>
                        <th>Date <i class="fa fa-sort"></i></th>
                        <th>Amount <i class="fa fa-sort"></i></th>
                        <th><i class="fa"></i></th>
                      </tr>
                    </thead>
                    <tbody>

                      <% @event.transactions.each do |t| %>
                      <tr href="http://www.google.com">
                        <td><%= t.name %></td>
                        <td><%= t.created_at.to_s(:short) %></td>
                        <td><%= t.spendings.where('amount > 0').sum('amount') %> PLN</td>
                        <td>
                          <a href="<%= transaction_path(t) %>" class="btn btn-primary btn-xs" role="button">Details</a>
                        </td>
                      </tr>
                      <% end %>
                      
                    </tbody>
                  </table>
                </div>
                <div class="text-right">
                  <a href="<%= new_transaction_path(@event) %>" class="btn btn-default btn-block" role="button">Add Transaction</a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->



    <!-- JavaScript -->


</div>