<div class="col-md-4 col-md-offset-4">
<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: "form-control input-lg", placeholder: "Transaction name" , :autofocus => true %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Enter details", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <div class="col-md-6">
        <a href="<%= event_path(@transaction.event) %>" class="btn btn-default btn-lg btn-block" role="button">Cancel</a>
      </div>
    </div>
  </div>
<% end %>
</div>
