.col-md-4.col-md-offset-4
  = form_for(@transaction) do |f|
    - if @transaction.errors.any?
      #error_explanation
        %h2
          = pluralize(@transaction.errors.count, "error")
          prohibited this transaction from being saved:
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.text_field :name, class: "form-control input-lg", placeholder: "Transaction name (for example: Fuel)" , :autofocus => true
    .field
      = f.hidden_field :event_id
    .form-group
      .row
        .col-md-6
          = f.submit "Enter details", class: "btn btn-primary btn-lg btn-block"
        .col-md-6
          %a.btn.btn-default.btn-lg.btn-block{:href => event_path(@transaction.event), :role => "button"} Cancel