
<style type="text/css">
body {
    background:url(<%= asset_path 'background2.jpg' %>)  center center;
}
.my_icon{
 font-size:500%;
 color: #428bca;
}
</style>

<%= render :partial => '/layouts/top_menu' %>


<br/>
<div class="row">
    <div class="col-lg-12 text-center v-center">
        <p class="my_icon"><i class="fa fa-money"></i></p>

    </div>
    
</div>
<div class="row">

    <div class="col-lg-12 v-center">
        <div class="col-md-4 col-md-offset-4">
            <%= form_tag(save_details_transaction_path(@transaction), method: "post") do %>
            <% @people.each_with_index do |person, index| %>
            <div class="row">
                <div class="col-md-3">
                    <span class="button-checkbox">
                        <button type="button" class="btn btn-lg btn-block who_use" data-color="primary" data-toggle="tooltip" data-placement="top" title="Check this if person use and should be charged for goods being bought."><%= person.name %> </button>
                        <input style="display: none" id="debt_ids_" name="debt_ids[]" type="checkbox" value="<%= person.id %>" />
                    </span>
                </div>
                <div class="col-md-9">
                    <div class="form-group who_pays" data-toggle="tooltip" data-placement="top" title="Type any amount if person pays for goods.">
                        <%= text_field_tag "amounts[#{person.id}]", nil, class: "form-control input-lg", placeholder: "Amount paid" %>
                    </div>
                </div>
            </div>
            <br/>
            <% end %>
            <%= submit_tag("Save details", class: "btn btn-primary btn-lg btn-block") %>
            <% end %>
        </div>

    </div>
</div>

<div class="container">



</div>

<script type="text/javascript">
$(document).ready(function() {
    
    $('.who_use').tooltip();
    $('.who_pays').tooltip();


});



</script>


