<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<% @transaction.spendings.each do |spending| %>
	<p>
		<%= spending.person.name %> <%= spending.amount %>
	</p>
<% end %>

<%= link_to 'Back', event_path(@transaction.event) %>
